.gocache/
.gomodcache/
bin/

*.log
*.zip
*.exe

/calibration_results.txt
/mass_only.txt
/mass_series.txt
/physics_*.txt
/PHYSICS_*.txt
/results.txt
/snapshot.txt
/tmp.txt
/tv_only.txt

/diagnostic_runtime
/test_runtime
/loadequilibrium
/loadequilibrium.exe
/le_new
/le_runtime
/le_runtime.exe
/le_sweep
/le_test
